html{
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Slab', serif;
}
h1 {
   font-size: 60px;
   text-align: center; 
}

p,  li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;

}
html {
    background-color: #6d66d2;
}
body {
    width: 1000px;
    margin: 0 auto;
    background-color: #1fdcf5;
    border: 5px solid black;
    padding: 0 20px 20px 20px;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #1adf9a;
    text-shadow: 3px 3px 1px black
}   
img {
    display: block;
    margin: 0 auto;
    width: 700px;
}
h{
    width: 500px;
}


